[submodule "testing/datasets/scitldr"]
	path = testing/datasets/scitldr
	url = https://github.com/allenai/scitldr.git
[submodule "testing/datasets/scitldr-learnit-dataset-training"]
	path = testing/datasets/scitldr-learnit-dataset-training
	url = https://github.com/PERSEUS-1337/scitldr-learnit-dataset-training.git
